<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ApplicationServlet</servlet-name>
  	<display-name>ApplicationServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.ApplicationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Detailsofemp</servlet-name>
  	<display-name>Detailsofemp</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.Detailsofemp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<display-name>RegistrationServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reimdetailsforemp</servlet-name>
  	<display-name>Reimdetailsforemp</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.Reimdetailsforemp</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateApproveDeny</servlet-name>
  	<display-name>UpdateApproveDeny</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdateApproveDeny</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdatePageServlet</servlet-name>
  	<display-name>UpdatePageServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdatePageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateProfileDetails</servlet-name>
  	<display-name>UpdateProfileDetails</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.UpdateProfileDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Viewallapproved</servlet-name>
  	<display-name>Viewallapproved</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.Viewallapproved</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Viewalldenied</servlet-name>
  	<display-name>Viewalldenied</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.Viewalldenied</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Viewallreimrequest</servlet-name>
  	<display-name>Viewallreimrequest</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.Viewallreimrequest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementDAO</servlet-name>
  	<display-name>ReimbursementDAO</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.ReimbursementDAO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementDAOImpl</servlet-name>
  	<display-name>ReimbursementDAOImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.ReimbursementDAOImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeDetailsEntity</servlet-name>
  	<display-name>EmployeeDetailsEntity</display-name>
  	<description></description>
  	<servlet-class>com.ers.entity.EmployeeDetailsEntity</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementDetailsEntity</servlet-name>
  	<display-name>ReimbursementDetailsEntity</display-name>
  	<description></description>
  	<servlet-class>com.ers.entity.ReimbursementDetailsEntity</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AlreadyRegisteredException</servlet-name>
  	<display-name>AlreadyRegisteredException</display-name>
  	<description></description>
  	<servlet-class>com.ers.exception.AlreadyRegisteredException</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeNotFoundException</servlet-name>
  	<display-name>EmployeeNotFoundException</display-name>
  	<description></description>
  	<servlet-class>com.ers.exception.EmployeeNotFoundException</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeDetailsMapper</servlet-name>
  	<display-name>EmployeeDetailsMapper</display-name>
  	<description></description>
  	<servlet-class>com.ers.mapperdb.EmployeeDetailsMapper</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementDetailsMapper</servlet-name>
  	<display-name>ReimbursementDetailsMapper</display-name>
  	<description></description>
  	<servlet-class>com.ers.mapperdb.ReimbursementDetailsMapper</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeDetails</servlet-name>
  	<display-name>EmployeeDetails</display-name>
  	<description></description>
  	<servlet-class>com.ers.model.EmployeeDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementDetails</servlet-name>
  	<display-name>ReimbursementDetails</display-name>
  	<description></description>
  	<servlet-class>com.ers.model.ReimbursementDetails</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementService</servlet-name>
  	<display-name>ReimbursementService</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.ReimbursementService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReimbursementServiceImpl</servlet-name>
  	<display-name>ReimbursementServiceImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.ReimbursementServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DButil</servlet-name>
  	<display-name>DButil</display-name>
  	<description></description>
  	<servlet-class>com.ers.util.DButil</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>HibernateUtil</servlet-name>
  	<display-name>HibernateUtil</display-name>
  	<description></description>
  	<servlet-class>com.ers.util.HibernateUtil</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Reimbursement_Test</servlet-name>
  	<display-name>Reimbursement_Test</display-name>
  	<description></description>
  	<servlet-class>reimbursement_project1_test.Reimbursement_Test</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ApplicationServlet</servlet-name>
  	<url-pattern>/ApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Detailsofemp</servlet-name>
  	<url-pattern>/Detailsofemp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrationServlet</servlet-name>
  	<url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reimdetailsforemp</servlet-name>
  	<url-pattern>/Reimdetailsforemp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateApproveDeny</servlet-name>
  	<url-pattern>/UpdateApproveDeny</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePageServlet</servlet-name>
  	<url-pattern>/UpdatePageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProfileDetails</servlet-name>
  	<url-pattern>/UpdateProfileDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Viewallapproved</servlet-name>
  	<url-pattern>/Viewallapproved</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Viewalldenied</servlet-name>
  	<url-pattern>/Viewalldenied</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Viewallreimrequest</servlet-name>
  	<url-pattern>/Viewallreimrequest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementDAO</servlet-name>
  	<url-pattern>/ReimbursementDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementDAOImpl</servlet-name>
  	<url-pattern>/ReimbursementDAOImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeDetailsEntity</servlet-name>
  	<url-pattern>/EmployeeDetailsEntity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementDetailsEntity</servlet-name>
  	<url-pattern>/ReimbursementDetailsEntity</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AlreadyRegisteredException</servlet-name>
  	<url-pattern>/AlreadyRegisteredException</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeNotFoundException</servlet-name>
  	<url-pattern>/EmployeeNotFoundException</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeDetailsMapper</servlet-name>
  	<url-pattern>/EmployeeDetailsMapper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementDetailsMapper</servlet-name>
  	<url-pattern>/ReimbursementDetailsMapper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeDetails</servlet-name>
  	<url-pattern>/EmployeeDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementDetails</servlet-name>
  	<url-pattern>/ReimbursementDetails</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementService</servlet-name>
  	<url-pattern>/ReimbursementService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReimbursementServiceImpl</servlet-name>
  	<url-pattern>/ReimbursementServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DButil</servlet-name>
  	<url-pattern>/DButil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HibernateUtil</servlet-name>
  	<url-pattern>/HibernateUtil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Reimbursement_Test</servlet-name>
  	<url-pattern>/Reimbursement_Test</url-pattern>
  </servlet-mapping>
</web-app>
